[submodule "client"]
	path = client
	url = git@github.com:Innovixx-Development/graphql-client-boilerplate.git
	branch = master
[submodule "server"]
	path = server
	url = git@github.com:Innovixx-Development/graphql-server-boilerplate.git
	branch = master
[submodule "mobile"]
	path = mobile
	url = git@github.com:Innovixx-Development/graphql-mobile-boilerplate.git
	branch = master
