[submodule "client"]
	path = client
	url = git@github.com:Innovixx/graphql-client-boilerplate.git
	branch = master
[submodule "server"]
	path = server
	url = git@github.com:Innovixx/graphql-server-boilerplate.git
	branch = master